

/* base styles */
*
.navbar h1 {
  color: #043e51;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #bfd2d9;
}
.contents {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.links {
  color: white;
  border-radius: 8px;
}

/* events previews / list */
.events-details {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.events-details:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  
}
.events-details h2 {
  font-size: 20px;
  color: #043e51;
  margin-bottom: 8px;
}
.events-details a {
  text-decoration: none;
}
/* events details page */
.events-details h2 {
  font-size: 20px;
  color: #22646e;
  margin-bottom: 10px;
}
.events-details div {
  margin: 20px 0;
}

.delete {
  background: #bfd2d9;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-left: 80%;
}
.delete:hover {
  background-color: #a7c2cb;
}


 /* create new events form */
.create-events {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #3b89ac;
  margin-bottom: 30px;
  text-align: center;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #a7c2cb;
  box-sizing: border-box;
  display: block;
  
  
}
.create button {
  background: #bfd2d9;
  color: #ffffff; 
  border: 0;
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 85%;
}
.create button:hover {
  background-color: #a7c2cb;
}

.events-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 4px solid #fafafa;
}
.events-list:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.events-list h2 {
  font-size: 20px;
  color: #eeeded;
  margin-bottom: 8px;
}
.events-list a{
  text-decoration: none;
}











:root {
  --primary: #326deb;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
/* body{
  font-family: "Noto Serif";
  color: var(--secondary);
} */
/* .App{
  max-width: 960px;
  margin: 0 auto;c
} */

/* upload form styles */
.forms {
  margin: 30px auto 10px;
  text-align: center;
}
.labels .inputs {
  height: 0;
  width: 0;
  opacity: 0;
}
.labels {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 18px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
.labels:hover {
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ladoing styles */

/* modal styles */